// global color tokens
$-clr-white: white;
$-clr-grey-light: rgb(232, 232, 232); // hsl(0, 0%, 91%)
$-clr-grey-mid: rgb(107, 107, 107); // hsl(0, 0%, 42%)
$-clr-grey-dark: rgb(64, 64, 64); // hsl(0, 0%, 25%)

$-clr-blue-very-light: rgb(233, 240, 247); // hsl(213, 47%, 96%)
$-clr-blue-light: rgb(198, 207, 224); // hsl(218, 39%, 86%)
$-clr-blue-mid: rgb(51, 74, 116); // hsl(218, 48%, 39%)
$-clr-blue-dark: rgb(31, 44, 70); // hsl(218, 36%, 23%)

$-clr-green-very-light: rgb(198, 255, 240); // hsl(168, 98%, 81%)
$-clr-green-light: rgb(50, 255, 193); // hsl(168, 96%, 51%)
$-clr-green-mid: rgb(0, 209, 140); // hsl(169, 100%, 41%)
$-clr-green-dark: rgb(10, 82, 40); // hsl(168, 80%, 19%)

$-clr-yellow-light: rgb(255, 240, 197); // hsl(36, 100%, 86%)
$-clr-yellow-mid: rgb(255, 183, 82); // hsl(36, 80%, 65%)
$-clr-yellow-dark: rgb(128, 71, 17); // hsl(36, 77%, 30%)

$-clr-pink-light: rgb(255, 179, 194); // hsl(340, 81%, 84%)
$-clr-pink-mid: rgb(219, 101, 135); // hsl(340, 68%, 63%)
$-clr-pink-dark: rgb(103, 17, 64); // hsl(340, 76%, 27%)

$-clr-cyan-light: rgb(198, 255, 255); // hsl(194, 98%, 81%)
$-clr-cyan-mid: rgb(71, 179, 209); // hsl(197, 64%, 53%)
$-clr-cyan-dark: rgb(20, 56, 82); // hsl(195, 69%, 27%)

$dark: (
  "neutral": (
    "000": $-clr-grey-dark,
    "100": $-clr-grey-mid,
    "400": $-clr-grey-light,
    "700": $-clr-white,
  ),
  "primary": (
    "100": $-clr-blue-dark,
    "200": $-clr-blue-mid,
    "400": $-clr-blue-light,
    "700": $-clr-blue-very-light,
  ),
  "accent": (
    "100": $-clr-green-dark,
    "200": $-clr-green-mid,
    "400": $-clr-green-light,
    "700": $-clr-green-very-light,
  ),
  "yellow": (
    "300": $-clr-yellow-dark,
    "400": $-clr-yellow-mid,
    "500": $-clr-yellow-light,
  ),
  "pink": (
    "300": $-clr-pink-dark,
    "400": $-clr-pink-mid,
    "500": $-clr-pink-light,
  ),
  "cyan": (
    "300": $-clr-cyan-dark,
    "400": $-clr-cyan-mid,
    "500": $-clr-cyan-light,
  ),
);

$light: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-grey-light,
    "400": $-clr-grey-mid,
    "700": $-clr-grey-dark,
  ),
  "primary": (
    "100": $-clr-blue-very-light,
    "200": $-clr-blue-light,
    "400": $-clr-blue-mid,
    "700": $-clr-blue-dark,
  ),
  "accent": (
    "100": $-clr-green-very-light,
    "200": $-clr-green-light,
    "400": $-clr-green-mid,
    "700": $-clr-green-dark,
  ),
  "yellow": (
    "300": $-clr-yellow-light,
    "400": $-clr-yellow-mid,
    "500": $-clr-yellow-dark,
  ),
  "pink": (
    "300": $-clr-pink-light,
    "400": $-clr-pink-mid,
    "500": $-clr-pink-dark,
  ),
  "cyan": (
    "300": $-clr-cyan-light,
    "400": $-clr-cyan-mid,
    "500": $-clr-cyan-dark,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-400: var(--neutral-400);
$color-neutral-700: var(--neutral-700);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-400: var(--primary-400);
$color-primary-700: var(--primary-700);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-400: var(--accent-400);
$color-accent-700: var(--accent-700);

$color-yellow-300: var(--yellow-300);
$color-yellow-400: var(--yellow-400);
$color-yellow-500: var(--yellow-500);

$color-pink-300: var(--pink-300);
$color-pink-400: var(--pink-400);
$color-pink-500: var(--pink-500);

$color-cyan-300: var(--cyan-300);
$color-cyan-400: var(--cyan-400);
$color-cyan-500: var(--cyan-500);
