// for creating utility classes
$sizes: (
  4: rem(4),
  8: rem(8),
  12: rem(12),
  16: rem(16),
  20: rem(20),
  24: rem(24),
  28: rem(28),
  32: rem(32),
  36: rem(36),
  48: rem(48),
  60: rem(60),
  64: rem(64),
  80: rem(80),
  96: rem(96),
  128: rem(128),
  160: rem(160),
);

// for use in the code base
$size-4: rem(4);
$size-8: rem(8);
$size-12: rem(12);
$size-16: rem(16);
$size-20: rem(20);
$size-24: rem(24);
$size-28: rem(28);
$size-32: rem(32);
$size-36: rem(36);
$size-48: rem(48);
$size-60: rem(60);
$size-64: rem(64);
$size-80: rem(80);
$size-96: rem(96);
$size-128: rem(128);
$size-160: rem(160);
