$-ff-montserrat: "Montserrat", sans-serif;
$-ff-inter: "Inter", sans-serif;

$font-family-base: $-ff-inter;
$font-family-accent: $-ff-montserrat;

$font-sizes: (
  "small": (
    "900": 2.625rem,
    "800": 2.25rem,
    "700": 1.5rem,
    "400": 1.125rem,
    "300": 1rem,
    "200": 0.875rem,
  ),
  "large": (
    "900": 3.5rem,
    "800": 2.625rem,
  ),
);

$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-700;
